:root {
    --light: rgb(221, 221, 221);
    --dark: rgb(48, 71, 94);
    --darker: rgb(34, 40, 49);
    --hightlight: rgb(240, 84, 84);
}

.custom-bg-light {
    background-color: var(--light);
}

.custom-bg-dark {
    background-color: var(--dark);
}

.custom-bg-darker {
    background-color: var(--darker);
}

.scaffold {
    height: 100vh;
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-top: calc(var(--bs-gutter-x) * .5);
}